<div class="footer">
  <div class="footer__logo">
    <img src="/img/logo-green.png" alt="Natours logo" />
  </div>
  <ul class="footer__nav">
    <li><a href="#">About us</a></li>
    <li><a href="#">Download apps</a></li>
    <li><a href="#">Become a guide</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <p class="footer__copyright">
    &copy; by Jonas Schmedtmann. All rights reserved.
  </p>
</div>
<script src="/js/map.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
<script src="/js/login.js"></script>
<!-- <script src="/js/stripe.js"></script> -->

</body>

</html>