<%- include ('partials/head'); %>
</head>

<body>
  <header><%- include('partials/header') %></header>

  <main class="main">
    <div class="error">
      <div class="error__title">
        <!-- <h2 class="heading-secondary heading-secondary--success">Uh oh! Something went wrong!</h2> -->
        <!-- <h2 class="error__emoji">😢 🤯</h2> -->
      </div>
      <div class="error__msg">
        <p>
          <%= message %>
        </p>

      </div>
    </div>
  </main>

  <%- include('partials/footer') %>