<%- include ('partials/head'); %>
</head>

<body>
  <header><%- include('partials/header') %></header>

  <main class="main">
    <div class="login-form">
      <h2 class="heading-secondary ma-bt-lg">Reset your password</h2>
      <form class="form-reset-password">
        <div class="form__group ma-bt-md">
          <label class="form__label" for="password">Password</label>
          <input id="password" class="form__input" type="password" placeholder="••••••••" required minlength="8" />
        </div>
        <div class="form__group ma-bt-md">
          <label class="form__label" for="password">Confirm password</label>
          <input id="password-confirm" class="form__input" type="password" placeholder="••••••••" required minlength="8" />
        </div>
        <div class="form__group">
          <button class="btn btn--reset btn--green">Reset password</button>
        </div>
      </form>
    </div>
  </main>

  <%- include('partials/footer'); %>